@define-color main-bg #090040;
@define-color main-bg2 #471396;
@define-color clr-button-bg #F49BAB;
@define-color clr-button-inactive #7f55b1;
@define-color clr-button #FFE1E0;

window#waybar {
    font-family: "JetBrains Mono NerdFont";
    background-color: rgba(0, 0, 0, 0);
    color: rgb(230, 230, 230);
    font-size: 1.2rem;
    border-radius: 10px;
}

tooltip {
    font-family: "JetBrains Mono NerdFont";
    font-size: 0.8rem;
}

.modules-left {
    background: @main-bg;
    border-radius: 10px;
    padding: 3px;
}

.modules-center {
    background: @main-bg;
    border-radius: 10px;
    padding: 3px;
}

.modules-right {
    background: @main-bg;
    border-radius: 10px;
    padding: 3px;
}



#image.powermenu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0px 3px;
    border-left: 5px;
}


#workspaces {
    border-radius: 7px;
    padding: 0 5px;
}

#workspaces button {
    color: @clr-button-inactive;
    font-size: 1.2rem;
    padding: 0 0.3rem 0 0;
}

#workspaces button:hover {
    background-color: @clr-button-bg;
}

#workspaces button.special {
    font-size: 1.2rem;
    padding: 0 0.3rem 0 0;
}

#workspaces button.active {
    color: @clr-button;
}

#workspaces button.urgent {
    color: red;
}

#window, #custom-media {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

#custom-lightdarkmode {
    padding-right: 0px;
}

#custom-audiooutputtoggle {
    padding-right: 1px;
}

#custom-dotseperator {
    font-size: 25;
    color: rgba(255, 165, 197, 0.599);
}

#custom-lineseperator {
    font-size: 25;
    padding-right: 0.1rem;
    color: rgba(255, 165, 197, 0.599);
}

#tray {
    background-color: rgba(0, 0, 0, 0.118);
    border-radius: 10px;
    padding: 1px 5px;
}

#clock.time, #clock.date {
    font-size: 18px;
    font-weight: 600
}

#custom-audiooutputtoggle, #wireplumber, #custom-lights, #network, #custom-lightdarkmode {
    margin-left: 3px;
    margin-right: 3px;
}

#custom-buttonspace {
    margin-left: 3px;
}


#wireplumber {
    font-size: 16;
    padding-right: 9px;
}

#custom-seperator {
    font-size: 28;
}

#custom-space {
    font-size: 10;
}

#custom-smallspace {
    font-size: 5;
}

#network {
    padding: 0 3px;
}


#battery {
    color: lightgreen;
    padding: 0 3px
}

#memory {
    color: lightpink;
}

#disk {
    color: lightskyblue;
}

#cpu {
    color: lightgoldenrodyellow;
}

#temperature {
    color: lightslategray;
}

#custom-notification {
  font-family: "Liberation Nerd Font";
  padding: 0 0px;
  font-size: 25px;
  color: @clr-button;
}
